<?xml version="1.0" encoding="UTF-8" ?>


<suite name="extentSuite">
    <test name="testExtentSuite">
        <classes>
            <class name="com.tester.extent.demo.TestMethodsDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>

                </methods>
            </class>

        </classes>
    </test>
    <!--配置监听器-->
    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <!--<listener class-name="com.tester.extent.demo.ExtentTestNGIReporterListenerOld" />-->
        <listener class-name="com.tester.extent.demo.ExtentTestNGIReporterListener" />


    </listeners>

</suite>